@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Archivo", sans-serif;
}

.cardapio-carrossel .slider .item{
    position: absolute;
    inset: 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(300px);
}
.cardapio-carrossel .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardapio-carrossel .content .author{
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}
.cardapio-carrossel .content h2{
    font-size: 3em;
}

@media screen and (max-width: 1023px) {
    .cardapio-carrossel .slider{
        width: 160px;
        height: 300px;
        left: calc(50% - 80px);
    }
    .cardapio-carrossel .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }
    .cardapio-carrossel .content .author{
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}
@media screen and (max-width: 767px) {
    .cardapio-carrossel .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .cardapio-carrossel .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }
    .cardapio-carrossel .content h1{
        font-size: 5em;
    }
}

.gallery {
    display: flex;
    gap: 17px;
    width: 503px;
    height: 517px;
    border-radius: 5px;
  }
  
  .main-image {
    width: 70%;
  }
  
  .thumbnails {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    
   
  }
  
  .thumbnail {
    width: 150px;
    height: 90px;
    cursor: pointer;
    border-radius: 5px;
  }

  .gallery2 {
    display: flex;
    gap: 17px;
    width: 503px;
    height: 517px;
    border-radius: 5px;
  }
  
  .main-image2 {
    width: 70%;
  }
  
  .thumbnails2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    
   
  }
  
  .thumbnail2 {
    width: 150px;
    height: 90px;
    cursor: pointer;
    border-radius: 5px;
  }