@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Archivo", sans-serif;
}

.cardapio-carrossel .slider .item{
    position: absolute;
    inset: 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(300px);
}
.cardapio-carrossel .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardapio-carrossel .content .author{
    font-family: Poppins;
    text-align: right;
    max-width: 200px;
}
.cardapio-carrossel .content h2{
    font-size: 3em;
}

@media screen and (max-width: 1023px) {
    .cardapio-carrossel .slider{
        width: 160px;
        height: 300px;
        left: calc(50% - 80px);
    }
    .cardapio-carrossel .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }
    .cardapio-carrossel .content .author{
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}
@media screen and (max-width: 767px) {
    .cardapio-carrossel .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .cardapio-carrossel .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }
    .cardapio-carrossel .content h1{
        font-size: 5em;
    }
}

.gallery {
    display: flex;
    gap: 17px;
    width: 70%;
    height: 517px;
    border-radius: 5px;
  }
  
  .main-image {
    width: 70%;
  }
  
  .thumbnails {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    
   
  }
  
  .thumbnail {
    width: 30%;
    height: 90px;
    cursor: pointer;
    border-radius: 5px;
  }

  @media screen and (max-width: 768px) {
    .gallery {
        display: flex;
        gap: 12px;
        width: 70%;
        height: 517px;
        border-radius: 5px;
      }
      
      .main-image {
        width: 70%;
      }
      
      .thumbnails {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 17px;
        
       
      }
      
      .thumbnail {
        width: 400px;
        height: 90px;
        cursor: pointer;
        border-radius: 5px;
      }
  }

  .gallery2 {
    display: flex;
    gap: 17px;
    width: 70%;
    height: 517px;
    border-radius: 5px;
  }
  
  .main-image2 {
    width: 70%;
  }
  
  .thumbnails2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 17px;
    
   
  }
  
  .thumbnail2 {
    width: 30%;
    height: 90px;
    cursor: pointer;
    border-radius: 5px;
  }

  @media screen and (max-width: 768px) {
    .gallery2 {
        display: flex;
        gap: 12px;
        width: 70%;
        height: 517px;
        border-radius: 5px;
      }
      
      .main-image2 {
        width: 70%;
      }
      
      .thumbnails2 {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 17px;
        
       
      }
      
      .thumbnail2 {
        width: 400px;
        height: 90px;
        cursor: pointer;
        border-radius: 5px;
      }
  }

  

  header {
    background-color:#292625;
    box-shadow: 0px 3px 10px #292625;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap:15px;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color:#F5E7DA;
    font-weight: 400;
}

.nav-link:hover{
    text-decoration: none;
    font-size: 1.15rem;
    color:#A97744;
    font-weight: 700;
    text-decoration: underline;
    transition: color 0.1s ease-in-out;
}

.nav-link-selecionado {
    font-size: 1.15rem;
    color: #C7794A;
    font-weight: 700;
    text-decoration: underline;
}

.login-button button {
    border: none;
    border-radius: 5px;
    background-color: #C7794A;
    width: 220px;
    height: 52px;
}

.login-button button:hover {
    border: none;
    border-radius: 5px;
    background-color: #A97744;
    width: 220px;
    height: 52px;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.login-button button a {
    text-decoration: none;
    color: #3B2416;
    font-weight: 600;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1000px) {
    .logo{
      position: absolute;
      left: 8px;
    }
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

.carrossel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

@media screen and (min-width: 768px) {
    .carrossel-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}
@media screen and (min-width: 1280px) {
    .carrossel-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 88px;
    }
}

#bebidas{
    & ul{
        li:hover .linha{
            background-color: #C7794A;
        }
    }
}

.carrossel-item2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    & img{
        width: 118px;
        height: 117px;
    }
    & p{
        font-weight: 500;
        font-size: 12px;
        line-height: 56px;
    }
}